{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>
    {{ users|length }}
    {% if users|length == 1%}
    User
    {% else %}
    Users
    {% endif %}</h2>

    {% for user in users %}
    <div class="">
        <a href="/users/{{ user.id }}">
        <div>{{ user.full_name }} - {{ user.id }}
        </div>
        {% for portal in user.portals %}
        <!-- {{portal.name}} -->
        <object data="/tracker/static/img/{{portal.name}}_logo.png" type="image/png" class='actor_img'>
            <img class='actor_img' src="/tracker/static/img/activity_logo.svg" />
        </object>
            <!-- <p>id: {{portal.id}}</p>
            <p>Value: {{portal.name}}</p> -->
        {% endfor %}
    </a>
    </div>
    {% endfor %}
    <div class="row">
    </div>

</div>

{% endblock %}
