<p>
    For the pod to track events in Hypothesis, it must be registered with Hypothesis and
    the API key that Hypothesis assigns after registration must be
    saved in the pod.

    The following steps will help you through the process of registering the Pod with Hypothesis:
</p>
<h3>1. Register for Hypthesis</h3>
<p>
    First register for Hypothesis website:
    <a href="https://hypothes.is/signup" target="_blank">Hypthosis signup page</a>.
</p>

<h3>2. Create an API Key</h3>
<p>
    Upon registering, navigate to their developer page:
    <a href="https://hypothes.is/account/developer" target="_blank">Hypthosis API page</a>.
    Once there, generate an API key and insert the API key in <b>BOTH</b> fields below.
</p>
