<p>
    For the pod to track events in SlideShare, it must be registered with SlideShare and
    the API Key and Secret that SlideShare assigns after registration must be
    saved in the pod.

    The following steps will help you through the process of registering the Pod with SlideShare:
</p>
<h3>1. Fill the Registration Form</h3>
<p>
    Apply for an API key by filling out the form at the
    <a href="https://www.slideshare.net/developers/applyforapi" target="_blank">SlideShare API page</a>.
</p>

<h3>2. Save API Key and Secret</h3>
<p>
    Upon registering, SlideShare will send you the <strong>API Key and Secret</strong> in an email. Please copy and
    paste that information in the fields below.
</p>
